In [2]:
import pandas as pd

1. Crea una serie con números correlativos entre 1 y 12 inclusive (puedes hacerlo como lista o diccionario):

Cambia el indice de la serie anteriormente creada para que comience con el numero 20.

Nuevamente cambia el indice de la serie, esta vez con una lista que haga referencia a los meses del año (tenemos 12 elementos como la cantidad de meses del año).

Muestra los valores que están en la posición 3 y 8 de mi serie.

Muestra los valores que están etiquetados en enero y agosto.

Muestra sus valores, indices, forma, tamaño y el tipo de elementos de la serie.

In [16]:
# crea una lista con numeros correlativos entre 1 y 12
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
serie1 = pd.Series(lista)
serie1

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64

In [17]:
# cambia el indice para que comience en 20
serie1_indice = pd.Series(lista, index=[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])
serie1_indice

20     1
21     2
22     3
23     4
24     5
25     6
26     7
27     8
28     9
29    10
30    11
31    12
dtype: int64

In [18]:
# cambia el indice para que sean los meses del año
serie1_indice_meses = pd.Series(lista, index=["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"])
serie1_indice_meses

enero          1
febrero        2
marzo          3
abril          4
mayo           5
junio          6
julio          7
agosto         8
septiembre     9
octubre       10
noviembre     11
diciembre     12
dtype: int64

In [23]:
# muestra los valores que estan en la posicion 3 y 8 de la serie
serie1_indice.iloc[3]

4

In [24]:
serie1_indice.iloc[8]

9

In [25]:
# muestra los valores que estan en enero y agosto
serie1_indice_meses.loc["enero"]

1

In [26]:
serie1_indice_meses.loc["agosto"]

8

In [27]:
# Muestra los valores de la serie.
serie1_indice_meses.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [28]:
# muestra los indices de la serie
serie1_indice_meses.index

Index(['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio',
       'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'],
      dtype='object')

In [29]:
# muestra la forma de la serie
serie1_indice_meses.shape

(12,)

In [30]:
# muestra el tamaño de la serie
serie1_indice_meses.size

12

In [31]:
# muestra el tipo de elementos de la serie
serie1_indice_meses.dtype

dtype('int64')


2. Abre el fichero de rating-and-performance con el método que sea más correcto. Además muestra las 5 primeras filas del DataFrame.

In [34]:
df_comercio = pd.read_csv("/Users/lucianayelicich/Desktop/Adalab/Pair Programming/pair_mod3_LucianaMartaAna/spaces_o50fZDRQYNgRINpMJz49_uploads_git-blob-c1c10e8f39ba5f814f77ecb77c93154834b00430_rating-and-performance.csv")
df_comercio.head(5)

,index,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08

In [50]:
# Cread una nueva columna donde tengamos la diferencia entre el precio al que vende el e-commerce menos el precio del minorista. 
# Insertad esta columna en la posición dos.

diferencia = df_comercio['price'] - df_comercio['retail_price']
df_comercio.insert(2, "diferencia_precio", diferencia)

In [51]:
df_comercio.head(5)

,index,title,diferencia_precio,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,2.00,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,-14.00,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,-35.00,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,3,Hot Summer Cool T-shirt pour les femmes Mode T...,0.00,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,4,Femmes Shorts d'été à lacets taille élastique ...,-0.28,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08

In [67]:
# Usando el loc:
# Extraed todas las filas de la columna "price". ¿De qué tipo es el resultado obtenido?
df_comercio.loc[:, "price"]

0       16.00
1        8.00
2        8.00
3        8.00
4        2.72
        ...
1568     6.00
1569     2.00
1570     5.00
1571    13.00
1572     7.00
Name: price, Length: 1573, dtype: float64

In [53]:
# Extraed todas las filas de las columnas "price" y "retail_price". ¿De qué tipo es el resultado obtenido?

df_comercio[["price", "retail_price"]]

      price  retail_price
0     16.00            14
1      8.00            22
2      8.00            43
3      8.00             8
4      2.72             3
...     ...           ...
1568   6.00             9
1569   2.00            56
1570   5.00            19
1571  13.00            11
1572   7.00             6

[1573 rows x 2 columns]

In [55]:
# Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count".

columnas_deseadas = [
    "rating",
    "rating_count",
    "rating_five_count",
    "rating_four_count",
    "rating_three_count",
    "rating_two_count",
    "rating_one_count"
]

# Extraer filas pares (índices pares) y columnas seleccionadas
filas_pares = df_comercio.loc[df_comercio.index % 2 == 0, columnas_deseadas]
print(filas_pares)

      rating  rating_count  rating_five_count  rating_four_count  \
0       3.76            54               26.0                8.0
2       3.57            14                5.0                4.0
4       3.10            20                6.0                4.0
6       3.84          6742             3172.0             1352.0
8       3.47            15                6.0                2.0
...      ...           ...                ...                ...
1564    3.38           414              156.0               58.0
1566    3.54            28                7.0               11.0
1568    4.08          1367              722.0              293.0
1570    3.71            59               24.0               15.0
1572    4.07            14                8.0                3.0

      rating_three_count  rating_two_count  rating_one_count
0                   10.0               1.0               9.0
2                    2.0               0.0               3.0
4                    2.0               2.0               6.0
6                  971.0             490.0             757.0
8                    3.0               1.0               3.0
...                  ...               ...               ...
1564                72.0              45.0              83.0
1566                 4.0               2.0               4.0
1568               185.0              77.0              90.0
1570                 8.0               3.0               9.0
1572                 1.0               0.0               2.0

[787 rows x 7 columns]

In [61]:
# Extraed las filas cuyo precio sea mayor que 10 y sus unidades vendidas ("units_sold") sea mayor que 5000.

filtro = (df_comercio['price'] > 10) & (df_comercio['units_sold'] > 5000)
resultado = df_comercio[filtro]
resultado.head(5)

,index,title,diferencia_precio,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
16,16,Nouvelle mode d'été pour femmes Robe sans manc...,1.0,New Summer Women's Fashion Sleeveless Polka Do...,11.0,10,EUR,10000,0,3.72,...,6302,3.958426,5b8beef49996c87b299cdbec,0,NaN,https://www.wish.com/c/5cd3e795ebe403118bbc0f89,https://contestimg.wish.com/api/webimage/5cd3e...,5cd3e795ebe403118bbc0f89,summer,2020-08
77,77,Nouveau Mode Femmes Casual Shorts Costume Été ...,1.0,New Fashion Women Casual Shorts Suit Summer Ti...,11.0,10,EUR,10000,0,4.24,...,9200,4.289674,583e7f658108913bced6f8cf,0,NaN,https://www.wish.com/c/5b29e5b5080ea2661b2287f6,https://contestimg.wish.com/api/webimage/5b29e...,5b29e5b5080ea2661b2287f6,summer,2020-08
89,89,NOUVELLE Robe d'été sans manches imprimée à fl...,1.0,NEW Women Summer Floral Printed Sleeveless Dr...,11.0,10,EUR,20000,1,4.07,...,12974,3.965701,5a7b23a69bda4e3d375e7b3f,0,NaN,https://www.wish.com/c/5cf5e44b3c8b9e101a5db52c,https://contestimg.wish.com/api/webimage/5cf5e...,5cf5e44b3c8b9e101a5db52c,summer,2020-08
109,109,Casual femmes ras du cou à manches courtes feu...,1.0,Casual Women Crew Neck Short Sleeve Leaf Print...,11.0,10,EUR,10000,0,3.77,...,13946,4.000143,559d33adc605853731afbf10,0,NaN,https://www.wish.com/c/5c78151c27202a28a75752b7,https://contestimg.wish.com/api/webimage/5c781...,5c78151c27202a28a75752b7,summer,2020-08
111,111,Femmes classiques dos nu en dentelle évider li...,2.0,Classic Women Backless Lace Hollow Out Halter ...,14.0,12,EUR,10000,0,3.93,...,32858,3.885538,57baf75f63834218e305e4f4,0,NaN,https://www.wish.com/c/5acb7ae3a69e662bb0133546,https://contestimg.wish.com/api/webimage/5acb7...,5acb7ae3a69e662bb0133546,summer,2020-08

In [70]:
#Usando el iloc

# Extraed todas las filas de la columna "price".

df_comercio.iloc[:, 4]

0       16.00
1        8.00
2        8.00
3        8.00
4        2.72
        ...
1568     6.00
1569     2.00
1570     5.00
1571    13.00
1572     7.00
Name: price, Length: 1573, dtype: float64

In [74]:
# Extraed todas las filas de las columnas "price" y "retail_price".

df_comercio.iloc[:, [4,5]]

      price  retail_price
0     16.00            14
1      8.00            22
2      8.00            43
3      8.00             8
4      2.72             3
...     ...           ...
1568   6.00             9
1569   2.00            56
1570   5.00            19
1571  13.00            11
1572   7.00             6

[1573 rows x 2 columns]

In [77]:
df_comercio.columns

Index(['index', 'title', 'diferencia_precio', 'title_orig', 'price',
       'retail_price', 'currency_buyer', 'units_sold', 'uses_ad_boosts',
       'rating', 'rating_count', 'rating_five_count', 'rating_four_count',
       'rating_three_count', 'rating_two_count', 'rating_one_count',
       'badges_count', 'badge_local_product', 'badge_product_quality',
       'badge_fast_shipping', 'tags', 'product_color',
       'product_variation_size_id', 'product_variation_inventory',
       'shipping_option_name', 'shipping_option_price', 'shipping_is_express',
       'countries_shipped_to', 'inventory_total', 'has_urgency_banner',
       'urgency_text', 'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'product_url', 'product_picture',
       'product_id', 'theme', 'crawl_month'],
      dtype='object')

In [ ]:
# Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count".

filas_pares = df_comercio.iloc[df_comercio.index % 2 == 0, 9:16]
print(filas_pares)

      rating  rating_count  rating_five_count  rating_four_count  \
0       3.76            54               26.0                8.0
2       3.57            14                5.0                4.0
4       3.10            20                6.0                4.0
6       3.84          6742             3172.0             1352.0
8       3.47            15                6.0                2.0
...      ...           ...                ...                ...
1564    3.38           414              156.0               58.0
1566    3.54            28                7.0               11.0
1568    4.08          1367              722.0              293.0
1570    3.71            59               24.0               15.0
1572    4.07            14                8.0                3.0

      rating_three_count  rating_two_count  rating_one_count
0                   10.0               1.0               9.0
2                    2.0               0.0               3.0
4                    2.0               2.0               6.0
6                  971.0             490.0             757.0
8                    3.0               1.0               3.0
...                  ...               ...               ...
1564                72.0              45.0              83.0
1566                 4.0               2.0               4.0
1568               185.0              77.0              90.0
1570                 8.0               3.0               9.0
1572                 1.0               0.0               2.0

[787 rows x 7 columns]