In [1]:
import pandas as pd

In [4]:
# Configuración para mostrar todas las columnas del DataFrame
pd.set_option('display.max_columns', None)

In [36]:
df=pd.read_csv('merchant_fill.csv', index_col=0)
df.head(3)

,title,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,origin_country,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count
0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,Livraison standard,4,0,34,50,CN,zgrdejia,NaN,568,4.128521,595097d6a26f6e070cb878d1,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,5e9ae51d43d6a96e303acdb0,1,100,100.0,4.129,568.0,16.00,14.00,-14.0,-14.00,54.0
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.0,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,Livraison standard,2,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/58940d436a0d3d5da4e95a38,58940d436a0d3d5da4e95a38,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0
2,Nouvelle mode d'été femmes robe décontractée c...,4.9,8,1000,1,3.83,99,43.0,18.0,23.0,8.0,7.0,0,0,0,"Summer,Fashion,Necks,Beach,Dress,Loose,beach d...",white,XXS,Livraison standard,1,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5df2576d68963c1660471f9a,5df2576d68963c1660471f9a,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0

In [6]:
df.sample().T

                                                                          1472
title                        Women Fashion Jumpsuit Short Romper V Neck Sum...
price                                                                      8.0
retail_price                                                                 7
units_sold                                                                 100
uses_ad_boosts                                                               1
rating_sold                                                               3.37
rating_count                                                                19
rating_five_count                                                          9.0
rating_four_count                                                          2.0
rating_three_count                                                         1.0
rating_two_count                                                           1.0
rating_one_count                                                           6.0
badge_local_product                                                          0
badge_product_quality                                                        0
badge_fast_shipping                                                          0
tags                         Summer,Plus Size,camishort,Halter,cute,Spaghet...
product_color                                                             blue
product_variation_size_id                                                    S
shipping_option_name                                        Livraison standard
shipping_option_price                                                        3
shipping_is_express                                                          0
countries_shipped_to                                                        41
inventory_total                                                             50
origin_country                                                              CN
merchant_name                                                   doubleboutique
merchant_info_subtitle                                     84 % avis positifs
merchant_rating_count                                                    36033
merchant_rating                                                       3.965337
merchant_id                                           561df3a23a698c711e5e5efa
product_url                    https://www.wish.com/c/5e82bd24239e991c07f02bf7
product_id                                            5e82bd24239e991c07f02bf7
listed_products                                                              1
total_units_sold                                                           100
mean_units_sold_per_product                                              100.0
rating_employee                                                          3.965
merchant_ratings_count                                                 36033.0
mean_product_prices                                                        8.0
mean_retail_prices                                                         7.0
average_discount                                                         -14.0
mean_discount                                                            -14.0
mean_product_ratings_count                                                19.0

1. Total de unidades vendidas por país de origen del vendedor.
- Debéis agrupar los datos según el país de origen del vendedor y calcular el total de unidades vendidas para cada país.  
Esto nos dará una idea de qué países tienen una mayor participación en las ventas totales y cuáles tienen menos. 
- Devuelve los resultados en un DataFrame ordenados de mayor a menor en función de la cantidad de unidades vendidas.

In [ ]:
# Miramos los valores únicos de la columna:
df['origin_country'].unique()

array(['CN', 'US', nan, 'VE', 'AT', 'SG', 'GB'], dtype=object)

In [9]:
# Identificamos las columnas:
# origin_country, total_units_sold	
venta_pais = df.groupby('origin_country')['total_units_sold'].sum().reset_index()
venta_pais

  origin_country  total_units_sold
0             AT               100
1             CN          17371643
2             GB              1000
3             SG             40200
4             US             60460
5             VE               650

In [15]:
venta_pais_ordenado = venta_pais.sort_values(by='total_units_sold', ascending= False)
venta_pais_ordenado

  origin_country  total_units_sold
1             CN          17371643
4             US             60460
3             SG             40200
2             GB              1000
5             VE               650
0             AT               100

2. Estadísticas de precio por país de envío. 
- Vamos a explorar el precio promedio y el precio máximo de los productos según el país al que se envían.  
Al hacer esto, podremos entender cómo varían los precios según el destino del envío y si hay alguna tendencia interesante que valga la pena analizar. 
- Devuelve los resultados en un DataFrame.

In [24]:
# Columnas: origin_country, price
precio_pais_envio = df.groupby('origin_country')['price'].agg(['mean', 'max'])
precio_pais_envio

                    mean    max
origin_country
AT              7.000000   7.00
CN              8.341629  49.00
GB              9.000000   9.00
SG              3.380000   3.93
US              9.397097  16.00
VE              8.298000  16.00

3. Conteo de productos con y sin distintivo de producto local. 
- Vamos a clasificar los productos según si tienen o no un distintivo de producto local.
- Luego, calcularemos el conteo de productos en cada categoría para comprender cuántos productos tienen este distintivo y cuántos no.  
Esto puede proporcionarnos información sobre cómo se promocionan los productos con esta característica. Devuelve los resultados en un DataFrame.

In [30]:
# columna categoría: tags	
df['tags'].unique()

array(["Summer,Fashion,womenunderwearsuit,printedpajamasset,womencasualshort,Women's Fashion,flamingo,loungewearset,Casual,Shirt,casualsleepwear,Shorts,flamingotshirt,Elastic,Vintage,Tops,tshirtandshortsset,Women,Sleepwear,Print,womenpajamasset,womennightwear,Pajamas,womensleepwearset",
       "Mini,womens dresses,Summer,Patchwork,fashion dress,Dress,Mini dress,Women's Fashion,Women S Clothing,backless,party,summer dresses,sleeveless,sexy,Casual",
       "Summer,Fashion,Necks,Beach,Dress,Loose,beach dress,Round neck,Women's Fashion,sleeveless,Skirts,Casual,Women",
       ...,
       "Summer,Plus Size,tunic,Tops,blousetop,Casual,Women's Fashion,Printing,tank top,sleeveless,V-neck,Tank,Fashion,plusszie",
       "runningshort,Beach Shorts,beachpant,menbeachshort,Men,sailboatshort,beach swimwear,Men's Fashion,Shorts,Summer,men's shorts,Sport",
       "Summer,Leggings,slim,Yoga,pants,Slim Fit,Women's Fashion,Running,Fashion,Sport,Fitness,Women"],
      dtype=object)

In [37]:
# Columnas: badge_local_product, product_id	
df['badge_local_product'].unique()
# 0=no, 1=si

array([0, 1], dtype=int64)

In [ ]:
# mapeo: diccionario
dic_map={0:'no', 1:'si'}
df['badge_local_product'] = df['badge_local_product'].map(dic_map)
df['badge_local_product'].unique() # display no hace falta si es la ÚLTIMA línea del código

array(['no', 'si'], dtype=object)

In [34]:
producto_local = df.groupby('badge_local_product')['product_id'].count().reset_index()
producto_local

  badge_local_product  product_id
0                  no        1544
1                  si          29